<div class="row">
  <div class="small-8 small-centered medium-8 medium-centered columns">
<%= form_for [@journey, @post] do |f| %>
  <%= f.label :post_type %><br>
  <%= f.text_field :post_type, placeholder: "text, photo or video" %><br>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
  <div>
    <h3>If text:</h3>
    <%= f.label :text, "post content" %><br>
    <%= f.text_area :text %>
  </div>

  <div>
    <h3>If photo</h3>
    <%=f.label :photo, "photo" %><br>
    <%=f.file_field :photo, id: "imageLoader" %>
    <%=f.text_field :photo, placeholder: "photo url"%><br>
    <%=f.text_field :caption, placeholder: "caption"%><br>
  </div>

  <div>
    <h3>If video</h3>
    <%=f.label :video, "video" %><br>
    <%=f.text_field :video, placeholder: "video url" %><br>
    <%=f.text_field :caption, placeholder: "caption" %><br>

  </div>

  <%= f.submit %>

<% end %>
</div>
</div>
/journeys/:journey_id/posts/new