<!DOCTYPE html>
<html ng-app="journeyApp">
<head>
  <title>WdiFinalProject</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

	
	<div ng-view></div>
  
  <div style="text-align: center"> <%#= current_user.username unless current_user.nil? %></div>
  
  


  <%= javascript_include_tag "application" %>
</body>
</html>
<!-- ng-hide="location = '/home'"  -->
